body {
    background-color: beige;
}

input, #new {
    margin: 10px;
}

#new {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

input {
    border: 1.1px solid mediumturquoise;
}

